:root {
    background-color: #ffffff;
}

/*Extra Large screens - Extra large desktops*/

/* --- HEADER --- */
	.header-large-screen{
		display: flex !important;
		justify-content: space-evenly !important;
		color:black;
		font-size: 18px !important;
	}
	.header-content{
		height: 550px;
		background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2024/08/d-d-farmer-background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position:center;
		background-color: #efeff0;
	}
	.header-container {
		position: relative;
	}
	.gradient {
		position:absolute;
		z-index:2;
		right:0; bottom:0; left:0;
		height: 120px;
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, #ffffff  80%);
	}
	.header-text{
		margin-left: auto;
		margin-right: auto;
	}
	.header-text p{
		font-family: "Noto Sans JP", sans-serif;
		color: white;
		font-size: 23px;
		font-weight: 700;
	}
	.header-title{
		font-family: "Noto Sans JP", sans-serif;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 80px;
		color:orange;
		text-align: center;
		width: 100%;
	}
	.header-title {
		text-shadow: -1px 0 0 black, 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black;
	}
	.header-banner{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.header-image {
		width: 350px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: -110px;
	}
	.header-subtitle{
		width: 100%;
		text-align: center;
	}
	.about-description {
		font-family: "Noto Sans JP", sans-serif;
		font-size: 18px;
		color: black;
		text-align:center;
		padding: 15px;
		padding-right: 20px;
		padding-left: 20px;
		margin-top: 10px;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

/* --- ABOUT SECTION --- */
	.image-row {
		display: flex;
	}
	.image-text {
		color: black;
		font-family: "Noto Sans JP", sans-serif;
		font-weight: 700;
	}
	.circular-image {
		margin: 50px;
		/*margin-top: -40px;*/
		box-shadow: 10px 10px 20px gray;
		margin-bottom: 10px;
	}

/* --- SESSION LIST --- */
	.sessions{
		display: block;
	}
	.session-list{
		margin: 30px;;
		padding: 20px;
		height: 200px;
		max-width: 900px;
		display: flex;
		align-items: center;
		border:1px solid gray;
		background: rgba(180, 88, 3, 0.58);
		box-shadow: 0 8px 40px 0 rgba(45, 57, 231, 0.37);
		backdrop-filter: blur( 4px );
		-webkit-backdrop-filter: blur( 4px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
		margin-left: auto;
		margin-right: auto;
	}
	.session-list h3:hover {
		text-decoration: underline;
	}
	.register-button {
		font-family: "Noto Sans JP", sans-serif;
		text-align:center;
		margin-left: auto;
		padding: 5px;
		border-radius: 18px;
		height: 40px;
		margin-top: auto;
		margin-bottom: auto;
	}
	.register-button:hover {
		transform: scale(1.05);
	}
	.session-list:hover{
		/*transform: scale(1.008);*/
    zoom: 102%;
	}
  .nav-bar:hover, .nav-bar-first:hover, .nav-bar-last:hover{
    zoom: 103%;
  }
	.session-info{
		padding: 20px;
		display: block;
		width: 100%;
	}
	.session-info-text, .session-info-text h3{
		text-align: left !important;
	}
	.session-info-text {
		padding-right: 15px;
	}
	.session-info-header {
		display: flex;
	}

/* --- FAQ --- */
	.accordion, .accordion-last {
		font-family: "Noto Sans JP", sans-serif;
		background-color: #e2e2e2;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		max-width: 900px;
		border: none;
		text-align: left;
		outline: none;
		font-size: 17px;
		transition: 0.4s;
	}
	.accordion-section {
		text-align: center;
		padding: 20px;
	}
	.active, .accordion:hover {
		background-color: #ccc;
		border-bottom-left-radius:0px !important;
		border-bottom-right-radius:0px !important;
	}
	.accordion:after, .accordion-last:after {
		content: '\002B';
		color: #777;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}
	.active:after {
		content: "\2212";
	}
	.panel {
		font-family: "Noto Sans JP", sans-serif;
		text-align:left;
		padding: 0 18px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.panel p {
		padding: 15px;
	}

/* --- CONTACT SECTION ---*/
	.contact{
		max-width: 900px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-left: auto;
		margin-right: auto;
	}
	.contact-list{
		margin-top: 15px !important;
		color: black;
		width: 300px;
		padding:25px;
		border:1px solid black;
		border-radius: 10px;
	}
	.email-contact{
		width:80%;
		color: gray;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

/* --- SESSION PAGES --- */
.session-title{
	text-align: center;
	font-weight: 500;
	font-size: 40px;
}
.camp-info{
	display:flex;
}
.camp-info-text{
	padding: 20px;
}

/* --- PAYMENT PAGE --- */
.paypal-container {

}

/* --- GENERAL --- */
	main{
		width:80% !important;
		margin: auto !important;
	}
	.title{
		font-family: "Noto Sans JP", sans-serif;
		color:black;
		font-weight: 600;
		font-size: 40px;;
		margin-top:50px;
		text-align: center;
		text-transform: uppercase;

	}
	h3{
		color:black;
		text-align: center;
	}
	h4{
		color:black;
		font-weight: 700;
	}
	h5{
		color:black;
	}
	span{
		padding-right: 10px;
	}
	h1, h2, h3, h4, h5, h6, html, body {
		font-family: "Noto Sans JP", sans-serif;
	}
	html {
	  scroll-behavior: smooth;
	}
	* {
	  margin: 0;
	  padding: 0;
	}
  #gform{
    height: 1600px;
  }

/* ____________________________________________________________________*/
/*MEDIA QUERIES*/
/*Large screens - Desktop*/
@media screen and (max-width: 1500px) {
    .header-content{
        height: 450px !important;;
        background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2024/08/d-d-farmer-background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position:center;
		background-color: #efeff0;
    }
    .description{
        height: 450px
    }
    .header-title{
        font-size:60px;
    }
	.header-image{
		width: 300px;
		height: 250px;
		margin-bottom: -90px;
	}
	.header-text p{
		font-size: 17px;
	}
  #gform{
    height: 1600px;
  }
}

/*medium screens - Laptops*/
@media screen and (max-width: 1024px) {
    main{
        width:100% !important;
        margin: auto !important;
    }
	.header-title {
		font-size: 50px;
	}
	.circular-image {
		margin: 20px;
		height: 180px !important;
		width: 180px !important;
		box-shadow: 10px 10px 20px gray;
	}
	.image-text {
		font-size: 20px;
		font-weight: 700;
	}
	.header-text p{
		font-size: 16px;
	}
	.session-list{
		width: 95%;
	}
	.image-col{
		margin-right: auto;
		margin-left: auto;
	}
	.session-title{
		font-size: 30px;
	}
	.camp-info{
		display: grid;
	}
	.camp-info img {
		width: 100% !important;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.register-button{
		font-size: 13px;
		height:40px;
		padding:5px;
	}
	.header-banner{
		width: 40%;
	}
  #gform{
    height: 1600px;
  }
}

/*Small screens - tablets*/
@media screen and (max-width: 768px) {
    header a{
        font-size: 14px;
    }
    .header-content{
        height: 300px !important;
        background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2024/08/d-d-farmer-background.jpg");
    }
    .description{
        height: 300px;
    }
    .header-title{
        font-size: 35px;;

    }
	.header-image{
		width: 190px;
		height: 160px;
		margin-bottom: -60px;
	}
    .header-text p{
        font-size: 14px;
    }
    .title{
        text-align: center;
        font-size: 30px;
    }
	.gradient {
		position:absolute;
		z-index:2;
		right:0; bottom:0; left:0;
		height:100px;
	}
	.circular-image {
		margin: 10px;
		height: 150px !important;
		width: 150px !important;
		box-shadow: 10px 10px 20px gray;
	}
	.image-text {
		font-size: 16px;
		font-weight: 700;
	}
	.session-list{
		width: 95%;
	}
	.session-info h3{
		font-size: 20px;
	}
	.session-info-text p {
		font-size: 13px;
	}
	.register-button{
		font-size: 13px;
		height:40px;
		padding:5px;
	}
    .contact-list{
        width: 300px;
    }
    .contact{
        justify-content: space-around;
    }
    .contact-list p{
        font-size: 14px ;
    }
    h5, h3{
        font-size: 17px;
    }
	p{
		font-size: 16px;
	}
  #gform{
    width: 500px;
    height: 1700px;
  }
}

/*Extra small screens - phones*/
@media screen and (max-width: 560px) {
	.header-large-screen{
        display:block !important;
    }
    .header-content{
        height: 300px !important;
        background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2024/08/d-d-farmer-background.jpg");
    }
    .description{
        height: 300px;
		margin-top: -30px;
    }
	.header-image{
		width: 160px;
		height: 100px;
		margin-bottom: -30px;
		margin-top: 38px;
	}
    .header-title{
        font-size: 30px;
    }
	.header-text{
		padding-top:20px;
	}
    .header-text p{
        width: 100%;
        font-size: 13px;
    }
  .header-text-div {
    margin-right:auto;
    margin-left: auto;
  }
  .right {
    display: flex;
  }
  .nav-bar-first{
    margin-left:auto;
  }
  .nav-bar-last{
    margin-right:auto !important;
  }
	.gradient {
		position:absolute;
		z-index:2;
		right:0; bottom:0; left:0;
		height:80px;
	}
    .title{
        text-align: center;
        font-size: 25px;
    }
	.about-description {
		font-size: 15px;
		color: black;
		text-align:center;
		padding: 10px;
		margin-top: 10px;

	}
	.circular-image {
		margin: 11px;
		margin-bottom: 8px;
		height: 90px !important;
		width: 90px !important;
		box-shadow: 10px 10px 20px gray;
	}
	.image-text {
		font-size: 13px;
		font-weight: 700;
	}
	.session-info {
		padding-right: 0px;
	}
	.session-info h3{
		font-size: 13px;
		font-weight: 700;
	}
	.session-info-text p {
		font-size: 10px;
	}
	.session-info-text {
		padding:0px;
	}
	.session-list{
		width: 90%;
		height: auto;
		padding: 10px;
	}
	.camp-info {
		display: grid;
	}
	.camp-info img {
		width: 100% !important;
		margin-left: auto;
		margin-right: auto;
	}
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .contact-list{
        width: 300px;
        padding:25px;
        border:1px solid black;
        border-radius: 10px;
    }
    .contact-list p{
        font-size: 12px ;
    }
    h5, h3{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
	.session-title{
		font-size: 25px;
	}
	.header-banner{
		width: 55%;
	}

  #gform {
    width: 400px;
    height: 1700px;
  }
}


/*Extra EXTRA small screens - phones*/
@media screen and (max-width: 350px) {
	.header-content{
        height: 280px !important;
    }
	.circular-image {
		margin: 11px;
		margin-bottom: 8px;
		height: 70px !important;
		width: 70px !important;
		box-shadow: 10px 10px 20px gray;
	}
	.image-text {
		font-size: 11px;
		font-weight: 700;
	}
	.about-description {
		font-size: 12px;
	}
	.session-info h3 {
		font-size: 13px;
		padding: 1px;
	}
	.register-button {
		font-size: 13px;
	}

}
